---
const { href, style, className, target } = Astro.props;
const baseClasses = `rounded-xl text-xl py-2.5 px-5 cursor-pointer transition-colors duration-200 ease-in-out hover:bg-[#1f3e6d] ${className}`;
const classes =
    style === "secondary"
        ? `${baseClasses} bg-transparent text-[#192f44] border border-[#192f44] hover:text-white`
        : `${baseClasses} bg-[#192f44] text-white`;
---

<a href={href} class={classes} target={target}>
    <slot />
</a>
